<a href="/">Home</a>

{{!-- Search bar --}}
<h2> Item Search </h2>
<form id="search-item-html" method="GET" action="/items-page">
    <label for = "input-item_name">Search by Item Name:</label>
    <input type="text" name="item_name" id="input-search-item_name"/>

    <input type="submit"/>
    <a href="/items-page"><button>Reset</button></a>
</form>

{{!-- Create a table for items --}}
<table id="items-tables">
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th>Region</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.item_id}}>
            <td>{{this.item_id}}</td>
            <td>{{this.item_name}}</td>
            <td>{{this.regions_rg_id}}</td>
            <td><button onclick="deleteItem('{{this.item_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_item.js"></script>
<!-- add a person -->
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding items</h2>
<p>To add an item, enter their info and click 'Submit'!</p>
<form id="add-item-form-ajax">
    <label for="input-item_name">Item Name: </label>
    <input type="text" name="input-item_name" id="input-item_name" required>
    
     <label for="input-rg">Region: </label>
        <select name="input-rg" id="input-rg">
            {{#each region}}
            <option value='{{this.rg_id}}'>{{this.rg_name}}</option>
            {{/each}}
    <input type="submit">
</form>

{{!-- Embed javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_item.js"></script>

<h2>Updating Items Form</h2>
<p>To update an item's region select the region</p>
<form id="update-item-form-ajax">

    <label for="input-item_name">Item name: </label>
    <select name="input-item_name" id="mySelect-item_name">
        <option value="test">Select an Item</option>
        {{#each data}}
        <option value="{{this.item_id}}">{{this.item_name}}</option>
        {{/each}}
    </select>

    <label for="input-region">Region: </label>
    <select name="input-region" id="input-region-update">
        <option>Select a Region</option>
        {{#each region}}
        <option value="{{this.rg_id}}">{{this.rg_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_item.js"></script>


