{{!-- Create a table for items --}}
<table id="items-tables">
    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.item_id}}>
            <td>{{this.item_id}}</td>
            <td>{{this.item_name}}</td>
            <td>{{this.regions_rg_id}}</td>
            <td><button onclick="deleteItem('{{this.item_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_item.js"></script>
<!-- add a person -->
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding items</h2>
<p>To add an item, enter their info and click 'Submit'!</p>
<form id="add-item-form-ajax">
    <label for="input-item_name">Item Name: </label>
    <input type="text" name="input-item_name" id="input-item_name" required>
    
     <label for="input-rg">Region: </label>
        <select name="input-rg" id="input-rg">
            {{#each region}}
            <option value='{{this.rg_id}}'>{{this.rg_name}}</option>
            {{/each}}
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_item.js"></script>
<a href="/">Home</a>