{{!-- Search bar --}}
<h2> Item Search </h2>
<form id="search-monster-html" method="GET" action="/monsters-page">
    <label for = "input-monster_name">Search by Monster Name:</label>
    <input type="text" name="monster_name" id="input-search-monster_name"/>

    <input type="submit"/>
    <a href="/monsters-page"><button>Reset</button></a>
</form>

{{!-- Create a table for monster --}}
<table id="monsters-tables">
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Monster Id</th>
            <th>Name</th>
            <th>Level</th>
            <th>Region</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{!-- Figure out how to make region names appear instead of number --}}
        {{#each data}}
        <tr data-value={{this.monster_id}}>
            <td>{{this.monster_id}}</td>
            <td>{{this.monster_name}}</td>
            <td>{{this.monster_lvl}}</td>
            <td>{{this.regions_rg_id}}</td>
            <td><button onclick="deleteMonster('{{this.monster_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_monster.js"></script>
{{!-- Form to add a record to the table  --}}
<h2>Adding Monsters</h2>
<p>To add a Monster, enter their info and click 'Submit'!</p>
<form id="add-monster-form-ajax">
    <label for="input-monster_name">Monster name: </label>
    <input type="text" name="input-monster_name" id="input-monster_name" required>
    
    <label for="input-monster_lvl">Monster level: </label>
    <input type="number" name="input-monster_lvl" id="input-monster_lvl" required>
    
     <label for="input-rg">Region: </label>
        <select name="input-rg" id="input-rg">
            {{#each region}}
            <option value='{{this.rg_id}}'>{{this.rg_name}}</option>
            {{/each}}
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_monster.js"></script>

{{!-- update monster --}}
<h2>Updating Monster Form</h2>
<p>To update an monster's region select the region</p>
<form id="update-monster-form-ajax">

    <label for="input-monster_name">Monster name: </label>
    <select name="input-monster_name" id="mySelect-monster_name">
        <option value="test">Select a Monster</option>
        {{#each data}}
        <option value="{{this.monster_id}}">{{this.monster_name}}</option>
        {{/each}}
    </select>

    <label for="input-region">Region: </label>
    <select name="input-region" id="input-region-update">
        <option>Select a Region</option>
        {{#each region}}
        <option value="{{this.rg_id}}">{{this.rg_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_monster.js"></script>

<a href="/">Home</a>