{{!-- Create a table for inventory--}}
<table id="playermonster-tables">
    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.players_user_id}}</td>
            <td>{{this.monsters_monster_id}}</td>
            <td>{{this.monster_kill_count}}</td>
            <td>{{this.xp_gained}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/">Home</a>