<!-- PlayerPage.hbs -->
[ <a href="/">Home</a> | <a href="/players-page">Players</a> | <a href="/invts-page">Inventories</a> | <a href="/items-page">Items</a> | <a href="/monsters-page">Monsters</a> | <a href="/regions-page">Regions</a> ]
<div id="browse" style="display: block">
<p><strong>Browse Inventories</strong></p>
<table id="player-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.user_id}}>
            <td>{{this.user_id}}</td>
            <td>{{this.char_name}}</td>
            <td>{{this.char_xp}}</td>
            <td>{{this.char_lvl}}</td>
            <td>{{this.char_inventory_items}}</td>
            <td>{{this.regions_rg_id}}</td>
            <td><button onclick="deletePlayer('{{this.user_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_player.js"></script>
</div> <!-- browse -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Players</h2>
<p>To add a player, enter their info and click 'Submit'!</p>
<form id="add-player-form-ajax">
    <label for="input-char_name">Character Name: </label>
    <input type="text" name="input-char_name" id="input-char_name" required>
    
    <label for="input-char_xp">XP: </label>
    <input type="number" name="input-xp_name" id="input-xp" required>
    
    <label for="input-char_lvl">Level: </label>
    <input type="number" name="input-level" id="input-level" required>
    
    <label for="input-invt_count">Inventory Count of Items: </label>
    <input type="number" name="input-invt_count" id="input-invt_count" required>

    <label for="input-rg">Region: </label>
        <select name="input-rg" id="input-rg">
            {{#each region}}
            <option value='{{this.rg_id}}'>{{this.rg_name}}</option>
            {{/each}}
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_player.js"></script>
<a href="/">Home</a>