

<nav id="navbar">
    <ul>
        <li>
            <a href="/players-page">Players</a>
            <a href="/PlayerMonster-page">Player to Monster Kills</a>
            <a href="/regions-page">Regions</a>
            <a href="/monsters-page">Monsters</a>
            <a href="/items-page">Items</a>
            <a href="/PlayerItem-page">Player Items</a> 
        </li>
    </ul>
</nav>

<div id="browse" style="display: block">
<p><strong>Browse Inventories</strong></p>
{{!-- Search bar --}}
<h2> Player Search </h2>
<form id="search-player-html" method="GET" action="/players-page">
    <label for = "input-player_name">Search by Character Name:</label>
    <input type="text" name="player_name" id="input-search-player_name"/>

    <input type="submit"/>
    <a href="/players-page"><button>Reset</button></a>
</form>

<div id="playerpage-table-container">
    <table id="player-table">
        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>XP</th>
                <th>Level</th>
                <th>Special Item</th>
                <th>Region</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr data-value={{this.user_id}}>
                <td>{{this.user_id}}</td>
                <td>{{this.char_name}}</td>
                <td>{{this.char_xp}}</td>
                <td>{{this.char_lvl}}</td>
                <td>{{this.regions_rg_id}}</td>
                <td><button onclick="deletePlayer('{{this.user_id}}')">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="./js/delete_player.js"></script>
</div> <!-- browse -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Players</h2>
<p>To add a player, enter their info and click 'Submit'!</p>
<form id="add-player-form-ajax">
    <label for="input-char_name">Character Name: </label>
    <input type="text" name="input-char_name" id="input-char_name" required>
    
    <label for="input-char_xp">XP: </label>
    <input type="number" name="input-xp_name" id="input-xp" required>
    
    <label for="input-char_lvl">Level: </label>
    <input type="number" name="input-level" id="input-level" required>
    
    <label for="input-invt_count">Inventory Count of Items: </label>
    <input type="number" name="input-invt_count" id="input-invt_count" required>

    <label for="input-rg">Region: </label>
        <select name="input-rg" id="input-rg">
            {{#each region}}
            <option value='{{this.rg_id}}'>{{this.rg_name}}</option>
            {{/each}}
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_player.js"></script>


<h2>Updating Player Form</h2>
<p>To update a player</p>
<form id="update-player-form-ajax">

    <label for="input-player_name">Player name: </label>
    <select name="input-player_name" id="mySelect-player_name">
        <option value="test">Select a Player</option>
        {{#each data}}
        <option value="{{this.user_id}}">{{this.char_name}}</option>
        {{/each}}
    </select>

    <label for="update-char_xp">Character XP:</label>
    <input type="number" name="update-char_xp" id="input-update-xp">

    <label for="update-char-lvl">Character level:</label>
    <input type="number" name="update-char-lvl" id="input-update-lvl">
    
    <label for="update-char-itemcount">Count of Items in Inventory:</label>
    <input type="number" name="update-char-itemcount" id="input-update-itmcount">

    <label for="input-region">Region: </label>
    <select name="input-region" id="input-region-update">
        <option>Select a Region</option>
        {{#each region}}
        <option value="{{this.rg_id}}">{{this.rg_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_player.js"></script>

