{{!-- Search bar --}}
<h2> Regions Search </h2>
<form id="search-regions-html" method="GET" action="/regions-page">
    <label for = "input-region_name">Search by Region Name:</label>
    <input type="text" name="region_name" id="input-search-region_name"/>

    <input type="submit"/>
    <a href="/regions-page"><button>Reset</button></a>
</form>

{{!-- Create a table for regions --}}
<table id="regions-tables">
    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.rg_id}}>
            <td>{{this.rg_id}}</td>
            <td>{{this.rg_name}}</td>
            <td><button onclick="deleteRegion('{{this.rg_id}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_regions.js"></script>

<h2>Adding Regions</h2>
<p>To add a region, enter their info and click 'Submit'!</p>
<form id="add-region-form-ajax">
    <label for="input-region_name">Region Name: </label>
    <input type="text" name="input-region_name" id="input-region_name" required>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_regions.js"></script>
<a href="/">Home</a>