{{!-- utilized https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 
as a skeleton code --}}

<nav id="navbar">
    <ul>
        <li>
            <a href="/players-page">Players</a>
            <a href="/PlayerMonster-page">Player to Monster Kills</a>
            <a href="/regions-page">Regions</a>
            <a href="/monsters-page">Monsters</a>
            <a href="/items-page">Items</a>
            <a href="/PlayerItem-page">Player Items</a> 
        </li>
    </ul>
</nav>
{{!-- Search bar --}}
<h2> Regions Search </h2>
<form id="search-regions-html" method="GET" action="/regions-page">
    <label for = "input-region_name">Search by Region Name:</label>
    <input type="text" name="region_name" id="input-search-region_name"/>

    <input type="submit"/>
    <a href="/regions-page"><button>Reset</button></a>
</form>

<div id="region-table-container">
    {{!-- Create a table for regions --}}
    <table id="regions-tables">
        {{!-- Header section --}}
        <thead>
            <tr>
                <th>Id</th>
                <th>Region</th>
            </tr>
        </thead>
        {{!-- Body section --}}
        <tbody>
            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr data-value={{this.rg_id}}>
                <td>{{this.rg_id}}</td>
                <td>{{this.rg_name}}</td>
                <td><button onclick="deleteRegion('{{this.rg_id}}')">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="./js/delete_regions.js"></script>

<h2>Adding Regions</h2>
<p>To add a region, enter their info and click 'Submit'!</p>
<form id="add-region-form-ajax">
    <label for="input-region_name">Region Name: </label>
    <input type="text" name="input-region_name" id="input-region_name" required>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_regions.js"></script>
<a href="/">Home</a>

<h2>Updating Regions Form</h2>
<p>To update a region select the region</p>
<form id="update-region-form-ajax">

    <label for="input-region_name">Region name: </label>
    <select name="input-region_name" id="mySelect-region_name" required>
        <option>Select a region</option>
        {{#each data}}
        <option value="{{this.rg_id}}">{{this.rg_name}}</option>
        {{/each}}
    </select>

    <label for="update-region_name">New Region name: </label>
    <input type="text" name="update-region_name" id="input-update-region_name" required>
    <input type="submit">

</form>

<script src="./js/update_region.js"></script>